* {
    box-sizing: border-box;
}

img#questionImage {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 20em;
    width: 100%;
}

form#questionform label {
    margin-left: 0.5em;
}

form#questionform input[type="submit"] {
    margin: 1em 0;
}

#questionform {
    border: 1px solid plum;
    padding: 15px;
    position: relative;
}

#answer {
    position: absolute;
    bottom: -140px;
    
}

form {
    font-size: 1.5em;
}

.correct {
    background-color: rgb(77, 137, 77);
}

.incorrect {
    background-color: rgb(234, 144, 144);
}

.hidden {
    display: none;
}